{% extends 'base.html.twig' %}

{% block title %}Rangement index
{% endblock %}

{% block body %}
	<h1>Rangement index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for rangement in rangements %}
				<tr>
					<td>{{ rangement.id }}</td>
					<td>{{ rangement.nom }}</td>
					<td>
						<a href="{{ path('oukile_rangement_show', {'id': rangement.id}) }}">show</a>
						<a href="{{ path('oukile_rangement_edit', {'id': rangement.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('oukile_rangement_new') }}">Create new</a>
{% endblock %}
