{% extends 'base.html.twig' %}

{% block title %}TypeRangement index{% endblock %}

{% block body %}
    <h1>TypeRangement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_rangement in type_rangements %}
            <tr>
                <td>{{ type_rangement.id }}</td>
                <td>{{ type_rangement.nom }}</td>
                <td>
                    <a href="{{ path('app_type_rangement_show', {'id': type_rangement.id}) }}">show</a>
                    <a href="{{ path('app_type_rangement_edit', {'id': type_rangement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_rangement_new') }}">Create new</a>
{% endblock %}
