{% extends 'base.html.twig' %}

{% block title %}
	{{ unite.nom }}
{% endblock %}

{% block body %}

	<div class="fr-table" id="table-0-component">
		<div class="fr-table__wrapper">
			<div class="fr-table__container">
				<div class="fr-table__content">

					<table class="table">
						<caption>
							Détail de l'unité

						</caption>
						<tbody>
							<tr>
								<th>Id</th>
								<td>{{ unite.id }}</td>
							</tr>
							<tr>
								<th>Code</th>
								<td>{{ unite.code }}</td>
							</tr>
							<tr>
								<th>Nom</th>
								<td>{{ unite.nom }}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>

	<ul class="fr-mb-1w fr-btns-group fr-btns-group--inline">
		<li>
			<a class="fr-btn fr-btn--tertiary" href="{{ path('oukile_unite_edit', {'id': unite.id}) }}">Éditer</a>
		</li>
		<li>
			{{ include('unite/_delete_form.html.twig') }}
		</li>
	</ul>

	<a class="fr-link fr-icon-arrow-left-line fr-link--icon-left" href="{{ path('oukile_unite_index') }}">Retour à la liste</a>

{% endblock %}
